<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Senac Site Online</title>
  </head>

  <body>
    <header>
      <h1>Senac Site</h1>
      <p>Minha primeira aplicação back-end com Django.</p>
    </header>

    <main>
      <section>
        <h2>Mensagem do servidor</h2>
        <p><strong>{{ mensagem }}</strong></p>
      </section>
      <section>
        <p><strong>Aluno:</strong> {{ nome_aluno }}</p>
        <p><strong>Curso:</strong> {{ curso }}</p>
      </section>
    </main>

    <footer>
      <p>UC3, Back-end com Python e Django.</p>
      <a href="/contato/">Ir para a página de contato</a></li>
    </footer>
  </body>
</html>